@page "/Cart"
@using Microsoft.AspNetCore.Identity;
@using ECommerce_App.Models;
@inject SignInManager<ApplicationUser> SignInManager
@model ECommerce_App.Pages.Cart.ViewModel
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}

@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}

<h1>Cart</h1>

@if (!Model.FlummeriesInCart.Any())
{
    <p>Your cart is empty! Add some delicious flummery and come back!</p>
}
else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flum in Model.FlummeriesInCart)
            {
                <tr>
                    <th scope="row">@flum.Product.Name</th>
                    <td>$@flum.Product.Price</td>
                    <td>
                        <form method="post">
                            <input asp-for="@Model.NewQuantity" value="@flum.Qty" min="1" max="99" />
                            <input type="hidden" asp-for="@Model.ItemId" value="@flum.Product.Id" />
                            <input type="hidden" asp-for="@Model.CartId" value="@Model.CartId" />
                            <button class="btn btn-link" type="submit">Update</button>
                        </form>
                    </td>
                    <td>$@(flum.Product.Price * flum.Qty)</td>

                    <td title="Remove from cart">
                        <form asp-page="/Cart/Delete" asp-route-productId="@flum.Product.Id" method="post">
                            <button class="btn btn-link" type="submit">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-page="/Cart/Checkout" method="get"> 
        <button class="btn btn-primary" type="submit">Checkout</button>
    </form>
}
