@page "/Cart"
@using Microsoft.AspNetCore.Identity;
@using ECommerce_App.Models;
@inject SignInManager<ApplicationUser> SignInManager
@model ECommerce_App.Pages.Cart.ViewModel
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}

@{ 
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}

<h1>Cart</h1>

@if (!Model.FlummeriesInCart.Any())
{
    <p>Your cart is empty! Add some delicious flummery and come back!</p>
}else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flum in Model.FlummeriesInCart)
            {
                <tr>
                    <th scope="row">@flum.Key.Name</th>
                    <td>@flum.Key.Price</td>
                    <td>
                        <form method="post">
                            <input asp-for="@Model.NewQuantity" type="number" max="99" min="1" name="name" value="@flum.Value" />
                            <input type="hidden" asp-for="@Model.ItemId" value="@flum.Key.Id" />
                            <input type="hidden" asp-for="@Model.CartId" value="@Model.CartId" />
                            <button class="btn btn-link" type="submit">Update</button>
                        </form>
                    </td>

                    <td>
                        <form asp-page="/Cart/Delete" method="post">
                            <button class="btn btn-link" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
