@model ECommerce_App.Models.Product

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div>
    <form asp-controller="Products" asp-action="Index">
        <button type="submit">Back to List</button>
    </form>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Manufacturer : @Model.Manufacturer</p>
        <p class="card-text">Type : @(Model.Type == "C" ? "Cold" : "Hot")</p>
        <p class="card-text">Calories : @Model.Calories</p>
        <p class="card-text">Protein : @Model.Protein</p>
        <p class="card-text">Fat : @Model.Fat</p>
        <p class="card-text">Sodium : @Model.Sodium</p>
        <p class="card-text">Fiber : @Model.Fiber</p>
        <p class="card-text">Carbs : @Model.Carbs</p>
        <p class="card-text">Sugar : @Model.Sugar</p>
        <p class="card-text">Potassium : @Model.Potassium</p>
        <p class="card-text">Vitamins : @Model.Vitamins</p>
        <p class="card-text">Shelf : @Model.Shelf</p>
        <p class="card-text">Weight : @Model.Weight</p>
        <p class="card-text">Cups : @Model.Cups</p>
        <p class="card-text">Rating : @Model.Rating</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
