@using Microsoft.AspNetCore.Identity;
@using ECommerce_App.Models;
@inject SignInManager<ApplicationUser> SignInManager
@model List<ECommerce_App.Models.Flummery>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}

<h2>Products</h2>
<div class="forms">
    <form asp-controller="Products">
        <select name="type" required>
            <option value="" disabled selected hidden>Sort By</option>
            <option value="alphabetical">Alphabetical (A-Z)</option>
            <option value="alphabeticalRev">Alphabetical (Z-A)</option>
            <option value="manufacturer">Manufacturer (A-Z)</option>
            <option value="manufacturerRev">Manufacturer (Z-A)</option>
        </select>
        <button type="submit" class="btn btn-dark">Sort</button>
    </form>

    <form asp-controller="Products" asp-action="Details">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="search"></label>
                <input type="text" class="form-control mb-2" name="search" placeholder="Flum Jr." required />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-dark">Search By Name</button>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-auto mb-3">
                <div class="card item-card" style="width: 18rem;">
                    <div class="card-body product-card">
                        <h5 class="card-title">@item.Name</h5>
                        <img src="@item.ImageUrl" alt="Image of @item.Name" />
                        <p class="card-text">Price (USD) : $@item.Price</p>
                        <div class="compliment-container d-flex align-items-center justify-content-center">
                            <p class="card-text">Compliment : @item.Compliment</p>
                        </div>
                        <a asp-page="/ProductDetails/ProductDetails" asp-route-id="@item.Id" class="btn btn-light">Product Details</a>
                        @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a asp-page="/Uploads/Edit" asp-route-id="@item.Id" class="btn btn-light">Edit Flummery</a>
                            <a asp-page="/Images/Upload" asp-route-id="@item.Id" class="btn btn-light">Upload Image</a>
                        }*@
                        @*@if (currentUser != null)
                        {
                            <form method="get" class="add-to-cart" asp-page="/Cart/Update" asp-route-userId="@currentUser.Id" asp-route-itemId="@item.Id">
                                <input type="number" value="1" min="1" max="99" name="qty" required />
                                <button type="submit" class="btn btn-light">Add to Cart</button>
                            </form>
                        }*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>