@page
@model ECommerce_App.Pages.Orders.AdminOrdersModel
@{
    ViewData["Title"] = "AdminOrders";
    Layout = "_Layout";
}

<h1>Orders</h1>
<div class="card">
    <div class="forms">
        @if (Model.UserNameSearch == null)
        {
            <form method="post">
                <label asp-for="@Model.UserNameSearch">Search for a spefic user's order by email</label>
                <input type="text" asp-for="@Model.UserNameSearch" />
                <button type="submit" class="btn btn-dark">Search</button>
            </form>
        }
        else
        {
            <form method="get">
                <button type="submit" class="btn btn-dark">View all orders</button>
            </form>
        }
    </div>
</div>

<div class="orders-container">
    @if (!Model.Orders.Any())
    {
        <h3>No orders found</h3>
    }
    @foreach (var order in Model.Orders)
    {
        <div class="order-card order-trigger" id="@order.Order.Id">

            @{
                decimal grandTotal = 0.0m;
            }

            <div class="card receipt-card">
                <div class="card-body order-trigger" id="@order.Order.Id">
                    @if (order.User != null)
                    {
                        <h3>User: @order.User.FirstName @order.User.LastName</h3>
                        <h4>Email: @order.User.Email</h4>
                    }
                    else
                    {
                        <h3>User not found</h3>
                        <h4>User Id: @order.Order.UserId</h4>
                    }
                    <h3>Order Number: @order.Order.Id</h3>
                </div>
            </div>
            <div class="order-body hide order-trigger" id="order-body-@order.Order.Id">
                @foreach (var oneItem in order.Order.CartItems)
                {
                    <div class="card receipt-card" id="@order.Order.Id">
                        <div class="card-body" id="@order.Order.Id">
                            <h3>Item Name: @oneItem.Product.Name</h3>
                            <p>Price: $@oneItem.Product.Price</p>
                            <p>Quantity: @oneItem.Qty</p>
                            <p>Manufacturer: @oneItem.Product.Manufacturer </p>
                            <p>Compliment: @oneItem.Product.Compliment</p>
                            @{
                                decimal itemTotal = oneItem.Product.Price * oneItem.Qty;
                                grandTotal += itemTotal;
                            }
                            <p>Total: $@itemTotal</p>
                        </div>
                    </div>
                }
            </div>

            <div class="card receipt-card order-trigger" id="@order.Order.Id">
                <div class="card-body" id="@order.Order.Id">
                    <h3>Grand Total: $@grandTotal</h3>
                </div>
            </div>
            
            <div class="card shipping-info">
                <div class="card-body" id="@order.Order.Id">
                    <h3>Shipping info:</h3>
                    <p>Shipped to: @order.Order.FirstName @order.Order.LastName</p>
                    <p>At: @order.Order.ShippingAddress @order.Order.ShippingCity, @order.Order.ShippingState @order.Order.ShippingZip</p>
                    @if(order.Order.Date != null)
                    {
                        <p>Date: @order.Order.Date</p>
                    }
                </div>
            </div>

            <button class="btn btn-light toggle-order" id="@order.Order.Id">Toggle Full Order</button>

        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".order-trigger").click(function (e) {
                $("#order-body-" + e.target.id).toggleClass('hide');
            });
        });
    </script>
}