@page "/Orders"
@model ECommerce_App.Pages.Orders.OrdersModel

@using Microsoft.AspNetCore.Identity;
@using ECommerce_App.Models;
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Orders";
    Layout = "_Layout";
}

@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}

<h1>Welcome @currentUser.FirstName</h1>

<h2>Your Order History</h2>

@foreach (var order in Model.Orders)
{
<div class="order-card">

    @{
        decimal grandTotal = 0.0m;
    }

    <div class="card receipt-card">
        <div class="card-body">
            <h3>Order Number: @order.Id</h3>
        </div>
    </div>

    @foreach (var oneItem in order.CartItems)
    {
        <div class="card receipt-card">
            <div class="card-body">
                <h3>Item Name: @oneItem.Product.Name</h3>
                <p>Price: $@oneItem.Product.Price</p>
                <p>Quantity: @oneItem.Qty</p>
                <p>Manufacturer: @oneItem.Product.Manufacturer </p>
                <p>Compliment: @oneItem.Product.Compliment</p>
                @{
                    decimal itemTotal = oneItem.Product.Price * oneItem.Qty;
                    grandTotal += itemTotal;
                }
                <p>Total: $@itemTotal</p>
            </div>
        </div>
    }

    <div class="card receipt-card">
        <div class="card-body">
            <h3>Grand Total: $@grandTotal</h3>
        </div>
    </div>

</div>

}