@page "/Products/{id}/Details"
@using Microsoft.AspNetCore.Identity;
@using ECommerce_App.Models;
@inject SignInManager<ApplicationUser> SignInManager
@model ECommerce_App.Pages.ProductDetails.ProductDetailsModel
@{
}

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "_Layout";
}

@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}

@*<h2>Flummery Flummery Details</h2>*@

<div class="card details-card">
    <div class="card-body">
        <h5 class="card-title">@Model.Flummery.Name</h5>
        <img src="@Model.Flummery.ImageUrl" alt="Image of @Model.Flummery.Name" />
        <p class="card-text">Compliment : @Model.Flummery.Compliment</p>
        <p class="card-text">Manufacturer : @Model.Flummery.Manufacturer</p>
        <p class="card-text">Price (USD) : $@Model.Flummery.Price</p>
        <p class="card-text">Calories : @Model.Flummery.Calories</p>
        <p class="card-text">Weight (kg) : @Model.Flummery.Weight</p>
        @if (currentUser != null)
        {
            <form method="get" class="add-to-cart" asp-page="/Cart/Update" asp-route-userId="@currentUser.Id" asp-route-itemId="@Model.Flummery.Id">
                <input type="number" value="1" min="1" max="99" name="qty" required />
                <button type="submit" class="btn btn-light">Add to Cart</button>
            </form>

        }
        <a asp-controller="Products" asp-action="Index" class="btn btn-light">Return to Products</a>

        @*@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <h5>Admin Options:</h5>
            <div class="admin-options">
                <a asp-page="/Images/Upload" asp-route-id="@Model.Flummery.Id" class="btn btn-light">Upload Image</a>
                <a asp-page="/Uploads/Edit" asp-route-id="@Model.Flummery.Id" class="btn btn-light">Edit Flummery</a>
                <a asp-page="/Uploads/Delete" asp-route-id="@Model.Flummery.Id" class="btn btn-light">Delete Flummery</a>
            </div>
        }*@
    </div>
</div>