@page "/Products/{id}/Details"
@using Microsoft.AspNetCore.Identity;
@using ECommerce_App.Models;
@inject SignInManager<ApplicationUser> SignInManager
@model ECommerce_App.Pages.ProductDetails.ProductDetailsModel
@{
}

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "_Layout";
}

@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(User);
}

<h2>Flummery Flummery Details</h2>

<div class="card details-card">
    <div class="card-body">
        <h5 class="card-title">@Model.Flummery.Name</h5>
        <img src="@Model.Flummery.ImageUrl" alt="Image of @Model.Flummery.Name" />
        <p class="card-text">Compliment : @Model.Flummery.Compliment</p>
        <p class="card-text">Manufacturer : @Model.Flummery.Manufacturer</p>
        <p class="card-text">Price (USD) : $@Model.Flummery.Price</p>
        <p class="card-text">Calories : @Model.Flummery.Calories</p>
        <p class="card-text">Weight (kg) : @Model.Flummery.Weight</p>
        @if (currentUser != null)
        {
            <a asp-page="/Cart/Update" asp-route-userId="@currentUser.Id" asp-route-itemId="@Model.Flummery.Id" class="btn btn-primary">Add Item to Cart</a>
        }

        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-page="/Images/Upload" asp-route-id="@Model.Flummery.Id" class="btn btn-primary">Upload Image</a>
            <a asp-page="/Uploads/Edit" asp-route-id="@Model.Flummery.Id" class="btn btn-primary">Edit Flummery</a>
            <a asp-page="/Uploads/Delete" asp-route-id="@Model.Flummery.Id" class="btn btn-primary">Delete Flummery</a>
        }
    </div>
</div>