@page "/Flummeries/{id}"
@model ECommerce_App.Pages.Uploads.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<div class="container">
    <div class="card upload-card">
        <form method="post" class="flex" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Input.Name"></label>
                <input asp-for="@Model.Input.Name" class="form-control" value="@Model.Input.Name" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Input.Price"></label>
                <input asp-for="@Model.Input.Price" class="form-control" value="@Model.Input.Price" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Input.Compliment"></label>
                <input asp-for="@Model.Input.Compliment" class="form-control" value="@Model.Input.Compliment" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Input.Manufacturer"></label>
                <input asp-for="@Model.Input.Manufacturer" class="form-control" value="@Model.Input.Manufacturer" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Input.Weight"></label>
                <input asp-for="@Model.Input.Weight" class="form-control" value="@Model.Input.Weight" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Input.Manufacturer"></label>
                <input asp-for="@Model.Input.Manufacturer" class="form-control" value="@Model.Input.Manufacturer" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Input.Calories"></label>
                <input asp-for="@Model.Input.Calories" class="form-control" value="@Model.Input.Calories" />
            </div>
            @if (Model.ImgUrl != null && !Model.ImgUrl.Equals(""))
            {
                <div>
                    <p>Current Image</p>
                    <img src="@Model.ImgUrl" alt="Image of @Model.Input.Name" />
                    <input type="hidden" asp-for="@Model.ImgUrl" value="@Model.ImgUrl" />
                </div>
            }
            <div class="form-group">
                <label asp-for="@Model.Input.ImageFile">Upload image</label>
                <input type="file" class="form-control-file" asp-for="@Model.Input.ImageFile" />
            </div>
            <button type="submit" class="btn btn-primary">Submit Edit</button>
        </form>
    </div>
</div>