@page
@model ECommerce_App.Pages.Account.PasswordModel
@{
    ViewData["Title"] = "Password";
    Layout = "_Layout";
}

<div class="container">
    <div class="card update-card">
        <h1>Change Password</h1>
        <form method="post">
            <div asp-validation-summary="All"></div>

            <label asp-for="@Model.Input.ConfirmPassword"></label>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="@Model.Input.ConfirmPassword" type="password" class="form-control" id="validationCustom03" placeholder="Confirm Current Password" required>
            </div>

            <label asp-for="@Model.Input.NewPassword"></label>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="@Model.Input.NewPassword" type="password" class="form-control" id="validationCustom03" placeholder="New Password" required>
            </div>

            <label asp-for="@Model.Input.ConfirmNewPassword"></label>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="@Model.Input.ConfirmNewPassword" type="password" class="form-control" id="validationCustom03" placeholder="Confirm New Password" required>
            </div>


            <div class="form-group">
                <input type="submit" value="Update Account" class="btn btn-light">
            </div>
        </form>
    </div>
</div>