@page
@model ECommerce_App.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

@section Styles {
    <link href="~/Styles/Login.css" rel="stylesheet" type="text/css" />
}

<h1>Register</h1>

<div class="container">
    <div class="card">
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-row justify-content-center">
                <div class="col-md-auto mb-3">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="@Model.Input.FirstName" type="text" class="form-control" id="validationCustom02" placeholder="First Name" required>
                    </div>
                </div>
                <div class="col-md-auto mb-3">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="@Model.Input.LastName" type="text" class="form-control" id="validationCustom02" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="col-md-auto mb-3">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input asp-for="@Model.Input.Email" type="text" class="form-control" id="validationCustom02" placeholder="Email Address" required>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">

                <div class="col-md-auto mb-3">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="@Model.Input.Password" type="password" class="form-control" id="validationCustom02" placeholder="Password" required>
                    </div>
                </div>
                <div class="col-md-auto mb-3">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input asp-for="@Model.Input.ConfirmPassword" type="password" class="form-control" id="validationCustom02" placeholder="Confirm Password" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center remember">
                <label asp-for="@Model.Input.Persistent">
                    <input asp-for="@Model.Input.Persistent">Remember me
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-light">
            </div>
        </form>
    </div>
</div>

<div class="page-links">
    <p>Already have an account?</p>
    <a asp-page="/Account/Login" class="btn btn-dark" role="button">Login</a>
    <a asp-controller="Home" class="btn btn-dark" role="button">Return Home</a>
</div>